{% extends 'base.html' %}

{% block content %} 
    <div class="px-8 py-8">
        <h2 class="font-bold text-3xl text-center mb-4">Choose A Model for {{brand}}</h2>
        <div class="grid grid-cols-3 gap-4 rounded-lg md:grid-cols-4 lg:gap-6">
            {% for model in models %}
                <div class="flex h-16 flex-col items-center justify-center rounded-lg bg-gray-100 p-4 text-gray-400 sm:h-32">
                    <!-- <a href="/{{brand}}/{{model.name}}"> -->
                    <a href="/q/{{brand}}/{{model.name}}">
                        <p class="text-lg font-semibold">{{model.name}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}