{% extends 'base.html' %}

{% block content %} 
    <section class="bg-gray-700">
        <div class="md:max-w-xl md:mx-auto h-screen relative overflow-hidden">
            <video class="absolute w-full h-full object-cover" muted="" autoplay="">
                <source src="static/media/{{settings.main_video}}" type="video/mp4">
            </video>
            <div class="absolute right-0 h-[75vh] bottom-0 w-22 p-2 overflow-y-auto">
                <div id="output" hx-trigger="load" hx-get="/q"  class="flex flex-col items-center justify-center gap-4 py-6 no-scrollbar">
                    
                </div>
            </div>
        </div>
    </section>
    {% endblock %}